<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>midCoord</key>
	<string>{49.470398,8.481485}</string>
	<key>overlayTopLeftCoord</key>
	<string>{49.472827,8.478351}</string>
	<key>overlayTopRightCoord</key>
	<string>{49.472358,8.485414}</string>
	<key>overlayBottomLeftCoord</key>
	<string>{49.468355,8.477667}</string>
	<key>boundary</key>
	<array/>
</dict>
</plist>
